<div >
    <div class="row">
        <div class="col">
            <partial name="Reg">
        </div>
        <div class="col">
            <partial name="Login">
        </div>
    </div>
</div>
