<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyDAm5aBU78To4c2ltM9d8HW_8BoCOieNV0"></script>
<script>
    var searchInput = 'search_input';

    $(document).ready(function () {
        var autocomplete;
        autocomplete = new google.maps.places.Autocomplete((document.getElementById(searchInput)), {
            types: ['geocode'],
        });
        
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var near_place = autocomplete.getPlace();
            document.getElementById('loc_lat').value = near_place.geometry.location.lat();
            document.getElementById('loc_long').value = near_place.geometry.location.lng();
            
            document.getElementById('latitude_view').innerHTML = near_place.geometry.location.lat();
            document.getElementById('longitude_view').innerHTML = near_place.geometry.location.lng();
        });
    });
    $(document).on('change', '#'+searchInput, function () {
        document.getElementById('latitude_input').value = '';
        document.getElementById('longitude_input').value = '';
        
        document.getElementById('latitude_view').innerHTML = '';
        document.getElementById('longitude_view').innerHTML = '';
    });
</script>
@model Activ


<a asp-action="All" asp-controller="Activ" class="nav">Home</a>
<a asp-action="logout" asp-controller="Home">Logout</a>
<form asp-action="Create" asp-controller="Activ" method="post">
    <div class="form-group">
        <label asp-for="Title"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="Title"></span>
        <input class="form-control" asp-for="Title">
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="Date"></span>
        <input class="form-control" asp-for="Date">
    </div>
    <div class="form-group">
        <label asp-for="Time"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="Time"></span>
        <input class="form-control" asp-for="Time">
    </div>
    <div class="form-group">
        <label asp-for="Duration"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="Duration"></span>
        <input class="form-control" asp-for="Duration">
        <select asp-for="Selection">
            <option value="hours">hours</option>
            <option value="minutes">minutes</option>
            <option value="days">days</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Location">Location:</label>
        <input asp-for="Location" type="text" class="form-control" id="search_input" placeholder="Type address..." />
        <input asp-for="Lat" type="hidden" id="loc_lat" />
        <input asp-for="Long" type="hidden" id="loc_long" />
    </div>  
    <div class="form-group">
        <label asp-for="Description"></label>
        <span class="text-danger font-weight-bold" asp-validation-for="Description"></span>
        <input class="form-control" asp-for="Description">
    </div>
    <button class="btn btn-info">Create!</button>
</form>